[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
molecule = {extras = ["docker"],version = "==2.22"}
autopep8 = "*"

[packages]
ansible = "*"
molecule = {extras = ["hetznercloud","docker"],version = "==2.22"}
paramiko = "*"
jmespath = "*"

[requires]
python_version = "3.9"
