[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
molecule = {extras = ["docker"],version = "*"}
autopep8 = "*"

[packages]
ansible = "*"
molecule = {extras = ["docker"],version = "*"}
python-vagrant = "*"
paramiko = "*"
jmespath = "*"

[requires]
python_version = "3.7"
