import json

from oauth2_provider.models import get_application_model

# get or create an oauth client
ClientModel = get_application_model()
client_id = {% if client_id %}'{{ client_id }}'{% else %}None{% endif %}

client_secret = {% if client_secret %}'{{ client_secret }}'{% else %}None{% endif %}

oauth_client, created = ClientModel.objects.get_or_create(name='{{ client_name }}',
                                                          client_id=client_id,
                                                          client_secret=client_secret,
                                                          authorization_grant_type=ClientModel.GRANT_AUTHORIZATION_CODE,
                                                          skip_authorization=True)

# make sure all specified redirect uris are registered for the oauth client
current_redirect_uris = oauth_client.redirect_uris.splitlines()
updated = False
{% for redirect_uri  in redirect_uris %}
expected_redirect_uri = '{{ redirect_uri }}'
if expected_redirect_uri not in current_redirect_uris:
    current_redirect_uris.append(expected_redirect_uri)
    updated = True
{% endfor %}

if updated:
    oauth_client.redirect_uris = '\r\n'.join(current_redirect_uris)
    oauth_client.save(update_fields=['redirect_uris'])

print(json.dumps({
    "changed": created or updated,
    "client_id": oauth_client.client_id,
    "client_secret": oauth_client.client_secret
}))
