---
- name: Get Client Credentials for Customization Service
  block:
    - name: Create / Determine existing client credentials in Application
      shell: "{{ lookup('template', 'run_in_django_shell.sh.j2') }}" # noqa 305
      vars:
        python_script_name: get_oauth_client_credentials
        client_name: Discovery Portal Customization Service
        client_id: false
        client_secret: false
        redirect_uris:
          - "{{ hub_configuration.protocol }}://%s/services/customization/hub/callback/' % '{{ hub_configuration.hostname }}"
          - "{{ hub_configuration.protocol }}://%s/hub/callback/' % '{{ customization_configuration.hostname }}"
      register: customization_oauth2_client_output
      changed_when: customization_oauth2_client_output.stdout | from_json | json_query('changed')
      # ansible lint has an issue where it cannot bypass rules (like 305) within blocks
      # see https://github.com/ansible/ansible-lint/issues/484, so we need to explicitly skip
      tags:
        - skip_ansible_lint
        - requires_database

    - name: Identify Client Id for Customization Service
      set_fact:
        customization_oauth2_client_id: "{{ customization_oauth2_client_output.stdout | from_json | json_query('client_id') }}"
        customization_oauth2_client_secret: "{{ customization_oauth2_client_output.stdout | from_json | json_query('client_secret') }}"
  when: (customization_configuration.oauth2_client_id | default('', true) | length == 0) or
        (customization_configuration.oauth2_client_secret | default('', true) | length == 0)

- name: Identify Client Id for Customization service (Fallback)
  set_fact:
    customization_oauth2_client_id: "{{ customization_configuration.oauth2_client_id }}"
    customization_oauth2_client_secret: "{{ customization_configuration.oauth2_client_secret }}"
  when:
    - customization_configuration.oauth2_client_id | default('', true) | length > 0
    - customization_configuration.oauth2_client_secret | default('', true) | length > 0

- name: Validate client credentials
  assert:
    that:
      - customization_oauth2_client_id | default('', true) | length > 0
      - customization_oauth2_client_secret | default('', true) | length > 0

- name: Start Customization Service
  docker_container:
    name: "{{ container_names.customization }}"
    image: "{{ image_versions.customization }}"
    restart_policy: unless-stopped
    exposed_ports:
      - "80"
    env:
      VIRTUAL_HOST: "{{ customization_configuration.hostname }}"
      LETSENCRYPT_HOST: "{{ customization_configuration.hostname }}"
      HUB_URL: "{{ hub_configuration.protocol }}://{{ hub_configuration.hostname }}"
      API_ROOT: "{{ hub_configuration.protocol }}://{{ hub_configuration.hostname }}"
      OAUTH_CLIENT_ID: "{{ customization_oauth2_client_id }}"
      OAUTH_SECRET: "{{ customization_oauth2_client_secret }}"
      DJANGO_SETTINGS_MODULE: core.settings.dev_deployment
      DB_NAME: customization
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_HOST: db
      CUSTOMIZATION_API_ROOT: "{{ hub_configuration.protocol }}://{{ customization_configuration.hostname }}/api"
      BASE_URL: "/"
    networks_cli_compatible: true
    networks:
      - name: "{{ network_names.main }}"

- name: Setup Database
  become: true
  # yamllint disable rule:line-length
  command: "docker exec {{ container_names.customization }} python manage.py create_db"
  # yamllint enable rule:line-length
  when: hub_configuration.setup_database
  # TODO: technically, this is not correct, it should only be changed if database has been created for the first time
  changed_when: false
  tags:
    - setup_tasks

- name: Run Database migrations
  become: true
  # yamllint disable rule:line-length
  command: "docker exec {{ container_names.customization }} python manage.py migrate"
  # yamllint enable rule:line-length
  when: hub_configuration.setup_database
  register: customization_migration_result
  changed_when: '"Applying" in customization_migration_result.stdout'
  tags:
    - setup_tasks

- name: Collect static files for Customization Service
  become: true
  # yamllint disable rule:line-length
  command: "docker exec {{ container_names.customization }} python manage.py collectstatic -v 0 -c --no-input"
  # yamllint enable rule:line-length
  # TODO: technically, this is not correct, it should only be changed if no files are collected
  changed_when: false
  tags:
    - setup_tasks

- name: Enable Customization Micro Frontend
  become: true
  shell: "{{ lookup('template', 'run_in_django_shell.sh.j2') }}" # noqa 305
  vars:
    python_script_name: enable_micro_frontend
    micro_frontend:
      name: Discovery Portal Customization
      menu_entry_name: Customization
      url_prefix: customization
      fa_icon: paint-brush
      script_url: "{{ hub_configuration.protocol }}://{{ customization_configuration.hostname }}/main.js"
      init_function: customizationAppRender
  register: customization_micro_frontend_raw
  changed_when: customization_micro_frontend_raw.stdout | trim | bool
  tags:
    - setup_tasks
