---
- name: Login to docker registry
  become: true
  docker_login:
    registry: "{{ docker_registry.hostname }}"
    username: "{{ docker_registry.username }}"
    password: "{{ docker_registry.password }}"

- name: Setup required data volumes
  become: true
  import_tasks: data_volumes.yml

- name: Setup required networks
  become: true
  import_tasks: networks.yml

- name: Start Hub Base Services (Database, Message Queue, Mailserver)
  become: true
  import_tasks: base_services.yml
  tags:
    - services
    - base

- name: Setup Telemetry Service
  become: true
  import_tasks: telemetry.yml
  when:
    - telemetry.shared_key | default('', true) | length > 0
    - telemetry.tls_privatekey | default('', true) | length > 0
    - telemetry.tls_privatekey_passphrase | default('', true) | length > 0
    - telemetry.tls_certificate | default('', true) | length > 0
    - telemetry.tls_ca_certificate | default('', true) | length > 0
  tags:
    - services
    - telemetry

- name: Start Hub Main Services (Application Servers)
  become: true
  import_tasks: main_services.yml
  tags:
    - services
    - main

- name: Start Hub Reverse Proxy Services
  become: true
  import_tasks: reverse_proxy.yml

- name: Make sure communication with Hub is encrypted (https)
  become: true
  import_tasks: secure_communication.yml
  when: letsencrypt
  tags:
    - services
    - ssl

- name: Setup Hub Launcher
  become: true
  import_tasks: launcher.yml
  when:
    - launcher_configuration.oauth2_client_id | default('', true) | length > 0
    - launcher_configuration.oauth2_client_secret | default('', true) | length > 0
  tags:
    - setup_tasks
    - launcher

- name: Setup Hub Discovery Portal
  become: true
  import_tasks: discovery_portal.yml
  when: hub_configuration.setup_discovery_portal
  tags:
    - services
    - discovery_portal

- name: Setup Hub Customization Service
  become: true
  import_tasks: customization_service.yml
  when: hub_configuration.setup_customization_service
  tags:
    - services
    - customization

- name: Create Superuser
  become: true
  import_tasks: superuser.yml
  when: hub_configuration.create_admin_user
  tags:
    - setup_tasks
    - superuser
