---
- name: Start Letsencrypt Proxy Companion for nginx
  docker_container:
    name: "{{ container_names.letsencrypt_proxy_companion }}"
    image: "{{ image_versions.letsencrypt_proxy_companion }}"
    restart_policy: unless-stopped
    env:
      DEFAULT_EMAIL: "{{ hub_configuration.admin_email }}"
      NGINX_DOCKER_GEN_CONTAINER: "{{ container_names.reverse_proxy_config_generator }}"
      # TODO: this should not be test when going to production.
      LETSENCRYPT_TEST: "\"{{ letsencrypt_test }}\""
    # recreate this container whenever the nginx container has been changed (otherwise configs won't be updated)
    recreate: "{{ reverse_proxy_result.changed }}"
    networks_cli_compatible: true
    networks:
      - name: "{{ network_names.main }}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    volumes_from:
      - "{{ container_names.reverse_proxy }}"
